<% if !@language %>
  <%= form_tag root_path, method: 'GET' do %>
    <%= text_field_tag :username, params[:username] %>
    <%= submit_tag 'Search', name: nil %>
  <% end %>
<% end %>

<% if @language %>
<div style= 'width: 300px'>
<%= pie_chart @language.map { |k, v| [k, v] }.to_h%>
</div>

<div style= 'width: 300px'>
<%= area_chart @language %>
</div>


<img src="http://ghchart.rshah.org/<%= @username %>" alt="Github chart" width='400px;' />

<% end %>
